.summaryContainer {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: var(--gray-100);
}

.summaryColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summaryCard {
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  text-align: center;
  min-width: 12rem;
  font-weight: 600;
  font-size: 1.5rem;

}