@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  --gray-900: #0D0D0D;
  --gray-800: #191919;
  --gray-500: #262626;
  --gray-100: #F2F2F2;

  --blue-600: #1E6F9F;
}

@media (prefers-color-scheme: dark) {

}

body {
  background-color: var(--gray-800);
  width: 100vw;
}

@layer utilities {

}
