@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  --gray-900: #0D0D0D;
  --gray-800: #191919;
  --gray-500: #262626;
  --gray-200: #979797;
  --gray-100: #F2F2F2;

  --blue-600: #1E6F9F;

  --green-300: #1E9F88;
  --green-500: #024347;

  --orange-500: #473502;
}


body {
  background-color: var(--gray-800);
}

@layer utilities {

}
