.container {
    max-width: 90rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;

    .link {
        display: flex;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background: var(--blue-600);
        font-weight: bold;
        color: aliceblue;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100vw;
        padding: 0 1rem;
        grid-template-columns: repeat(3, 1fr);
        box-sizing: border-box;
        overflow-x: hidden;
        gap: 0.25rem;
        
        .link {
            margin-bottom: 0.5rem;
            padding: 0.25rem;
            font-size: 0.875rem;
        }
    }
}