.search {
  width: 90rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: -2rem;

  input {
    background-color: var(--gray-500);
    width: 85rem;
    height: 3.375rem;
    padding: 1rem;
    color: aliceblue;
    border-radius: 0.5rem;

  }

  button {
    margin-left: 1rem;

    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: var(--blue-600);
  }
}

@media (max-width: 600px) {
  .search {
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: -2rem;
    padding: 0 1rem;
  }

  .search input {
    width: 100%;
    min-width: 0;
    font-size: 1rem;
    height: 2.5rem;
    margin-bottom: 0;
    flex: 1;
  }

  .search button {
    width: 3rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    flex-shrink: 0;
  }

  .searchIcon {
    color: white;
    font-size: 1.5rem;
  }
}